@font-face {
  font-family: "iconfont"; /* Project id 5072278 */
  src: url('iconfont.woff2?t=1763908731802') format('woff2'),
       url('iconfont.woff?t=1763908731802') format('woff'),
       url('iconfont.ttf?t=1763908731802') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhengque:before {
  content: "\e6a6";
}

.icon-cuowu:before {
  content: "\e613";
}

.icon-shouji:before {
  content: "\e692";
}

.icon-yonghu:before {
  content: "\e64a";
}

.icon-anquan:before {
  content: "\ec4d";
}

.icon-mima:before {
  content: "\e726";
}

